<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Club</title>
    <link rel="icon" type="image/png" href="/imgs/icono2.png">

    <link rel="stylesheet" href="/resources/cdns/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/cdns/all.min.css"/>
    <link rel="stylesheet" href="/resources/cdns/brands.min.css"/>
    <link rel="stylesheet" href="/styles/main.css">

    <link rel="manifest" href="/manifest.json">
</head>
<body style="overflow-x:hidden">
    <iframe src="/resources/precios-09-2023.pdf" class="d-none" style="width:100vw; height: 100vh;"></iframe>
    <img src="/resources/precios-20-08-2024.jpg" style="width:100vw;">
</body>
</html>