<div id="usuarios" class=p-3>
    <input name="buscar" type="search" class="form-control mb-3" placeholder="Buscar...">
    <div class="border" style="height: 75vh; overflow-y: scroll;">
        <table class="table table-sm mb-0 border-bottom" name="tabla-usuarios">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th class="text-right">Hab.</th>
                </tr>
            </thead>
            <tbody>
    
            </tbody>
        </table>
        <div>
            <span class="badge badge-info" name="cantidad-registros">Registros totales: </span>
        </div>
        <div>
            <small class="text-muted">*La lista muestra como máximo 100 registros</small>
        </div>
    </div>
</div>
<div class="d-none">
    <div id="modal_usuario">
        <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" name="nombre" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Dirección</label>
            <input type="text" name="direccion" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Teléfono</label>
            <input type="text" name="telefono" class="form-control">
        </div>
        <div class="form-group">
            <label for="">DNI</label>
            <input type="text" name="dni" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Núm socio</label>
            <input type="text" name="numeroSocio" class="form-control">
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                    <input type="checkbox" name="habilitado">
              </div>
            </div>
            <input type="text" class="form-control" value="Habilitado" readonly>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                    <input type="checkbox" name="socio">
              </div>
            </div>
            <input type="text" class="form-control" value="Socio" readonly>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                    <input type="checkbox" name="especial">
              </div>
            </div>
            <input type="text" class="form-control" value="especial (turnos fijos)" readonly>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                    <input type="checkbox" name="administrador">
              </div>
            </div>
            <input type="text" class="form-control" value="Administrador" readonly>
        </div>

        <button class="btn btn-block btn-primary" name="guardar">Guardar</button>

        <div class="row mt-3">
            <div class="col">
                <button class="btn btn-block btn-danger btn-sm" name="eliminar">Eliminar</button>
            </div>
            <div class="col">
                <button class="btn btn-block btn-secondary btn-sm" name="restablecer-contrasena">Restablecer contr.</button>
            </div>
        </div>
    </div>
    <div id="modal_restablecer_contrasena">
        <div class="alert alert-warning">
            Se ha generado un token para cambiar la contraseña.
            <br>
            Envie la URL al usuario para que pueda ingresar una nueva contraseña.
            <br>
            El token tiene un vencimiento de 48hs.
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" name="email" readonly class="form-control">
        </div>
        <div class="form-group">
            <label for="">Token</label>
            <input type="text" name="token" readonly class="form-control">
        </div>
        <div class="form-group">
            <label for="">URL</label>
            <input type="text" name="url" readonly class="form-control">
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary btn-block" name="copiar">Copiar URL</button>
            </div>
            <div class="col">
                <button class="btn btn-success btn-block" name="enviar">Enviar por WA</button>
            </div>
        </div>
    </div>
</div>
<script src="/scripts/Usuarios.js"></script>
<script>
    var usuarios = new Usuarios();
    window.onload = () =>{
        usuarios.ini();
    }
</script>